* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: #007BFF;
  background: linear-gradient(123deg, #FF007B 0%, #007BFF 100%);
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex; justify-content: center; align-items: center;
}

.box {
  background: #1115;/* #942; */
  border-radius: 10px;
}

.params {
  width: 200px;
  height: 200px;
}

.joke {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
